

/* fondo del icnoco del searchbar */
.searchBarInnerContainer
:global(.vtex-input__suffix){
    background-color: black;
}

/* .clearLink:nth-child(8n)
:global(.vtex-button){
    background-color: red;
} */

/* search global */
:global(.vtex-search-result-3-x-container--layout--search__main){
    max-width: 960px;
    margin: auto;
}

/* paddin general */
:global(.vtex-store-components-3-x-container){
    padding: 0;
}

