.paginationDotsContainer--home__slider {
    transform: translateY(30px);
}


.sliderTrack--slider__brands{
   color: transparent;
}
.sliderTrack--slider__brands:hover {
    cursor: pointer; 
    /* Haciendo la imagen más brillante. */
    filter: brightness(400%);       
}
.slide--slider__brands--visible{
    cursor: pointer;
}
.slide--slider__brands--visible:hover{
    filter: brightness(0%) ;
}